{% extends 'layouts/base_sections.html' %}
{% load static %}

{% block title %} Programming room {% endblock title %}


{% block body %} class="about-us" {% endblock body %}

{% block header %}

{% include 'includes/navigation_transparent.html' %}

{% endblock header %}

{% block content %}

  <!-- -------- START HEADER 7 w/ text and video ------- -->
  <header class="bg-gradient-dark">
    <div class="page-header min-vh-100" style="background-image: url('{% static 'img/curved-images/curved.jpg' %}');">

      <span class="mask bg-gradient-info opacity-1"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">

            <br>
            {% if tasks_list %}
            <div class="container" style="margin-left: -465px; margin-top: 70px">
                <div class="row text-center py-2 mt-3">
                    <div class="col-4 mx-auto">
                        <form method="get" action="">
                            <div style="display: flex; align-items: center;">
                                <form>
                                    {{ search_form }}
                                    <button style="font-size: xx-small; margin-top: 15px" type="submit" class="btn btn-secondary">🔍</button>
                                    <div style="display: flex; align-items: center; margin-top: -30px; margin-bottom: -13px; margin-left: -20px">
                                        <div class="container">
                                            <div class="row text-center py-3 mt-3">
                                                <div class="col-12">
                                                    <span style="height: 38px;" class="badge bg-gradient-info">
                                                        <form>
                                                            <p1 style="color: white">filter by level</p1> {{ level_form }}
                                                        </form>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <ul style="list-style-type: none; padding-left: 0;">
                {% for task in tasks_list %}
                    
                    <li style="margin-left: -170px; 
                    text-align: left;" class="lead mb-4 text-white opacity-50">
                         {% if task.level.level == "easy" %}
                              <span  class="badge bg-gradient-info">{{ task.level.level }} </span>
                              <button type="button" class="btn bg-gradient-secondary w-auto me-1 mb-0">
                                    <a style="color: white;" 
                                    onmouseover="this.style.color='red'"; onmouseout="this.style.color='white'" 
                                    href="{% url "catalog:task-detail" pk=task.id%}">{{ task.name }}
                                    </a>
                                    <form method="post" action="{% url "catalog:change_task_status" pk=task.id %}">
                                        {% csrf_token %}
                                        <button style="font-size: xx-small" type="submit" class="btn bg-gradient-secondary w-auto me-1 mb-0">+</button>
                                    </form>
                                </button>


                             
                              
                         {% elif task.level.level == "medium"%}
                             <span  class="badge bg-gradient-success">{{ task.level.level }} </span>
                              <button type="button"  class="btn bg-gradient-secondary w-auto me-1 mb-0">
                                    <a style="color: white;" 
                                    onmouseover="this.style.color='red'"; onmouseout="this.style.color='white'" 
                                    href="{% url "catalog:task-detail" pk=task.id%}">{{ task.name }}
                                    </a>
                                    <form method="post" action="{% url "catalog:change_task_status" pk=task.id %}">
                                        {% csrf_token %}
                                        <button style="font-size: xx-small" type="submit" class="btn bg-gradient-secondary w-auto me-1 mb-0">+</button>
                                    </form>
                                </button>


                         {% elif task.level.level == "hard"%}
                             <span  class="badge bg-gradient-warning">{{ task.level.level }} </span>
                              <button type="button" class="btn bg-gradient-secondary w-auto me-1 mb-0">
                                    <a style="color: white;" 
                                    onmouseover="this.style.color='red'"; onmouseout="this.style.color='white'" 
                                    href="{% url "catalog:task-detail" pk=task.id%}">{{ task.name }}
                                    </a>
                                    <form method="post" action="{% url "catalog:change_task_status" pk=task.id %}">
                                        {% csrf_token %}
                                        <button style="font-size: xx-small" type="submit" class="btn bg-gradient-secondary w-auto me-1 mb-0">+</button>
                                    </form>
                                </button>

                         {% elif task.level.level == "very hard"%}
                             <span class="badge bg-gradient-danger">{{ task.level.level }} </span>
                              <button type="button" class="btn bg-gradient-secondary w-auto me-1 mb-0">
                                    <a style="color: white;" 
                                    onmouseover="this.style.color='red'"; onmouseout="this.style.color='white'" 
                                    href="{% url "catalog:task-detail" pk=task.id%}">{{ task.name }}
                                    </a>
                                    <form method="post" action="{% url "catalog:change_task_status" pk=task.id %}">
                                        {% csrf_token %}
                                        <button style="font-size: xx-small" type="submit" class="btn bg-gradient-secondary w-auto me-1 mb-0">+</button>
                                    </form>
                                </button>

                         {% endif %}
                    </li>
                    
                {% endfor %}
            {% if is_paginated %}
               <div style="margin-bottom: 80px" class="row text-center py-2">
    <div class="col-12 mx-auto">
        <ul class="pagination pagination-primary m-4">
            {% if page_obj.has_previous %}
                <li class="page-item">
                <a class="page-link" href="?page= {{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">
                        <i class="fa fa-angle-double-left"></i>
                    </span>
                </a>
            </li>
            {% endif %}    
            <li class="page-item active">
                <p style="color: white" class="pagination-primary">{{ page_obj.number }} of {{ paginator.num_pages }}</p>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page= {{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">
                        <i class="fa fa-angle-double-right"></i>
                    </span>
                </a>
            </li>
            {% endif %}    
        </ul>
    </div>
</div>
            {% endif %}
            </ul>    
            {% else %}
                <h1 class="text-white">Sorry but now we have no task for you</h1> 
            {% endif %}  

          </div>
        </div>
      </div>
      <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,1" />
          </g>
        </svg>
      </div>
    </div>
  </header>
  <!-- -------- END HEADER 7 w/ text and video ------- -->
  <!-- Section with four info areas left & one card right with image and waves -->

  <!-- END Section with four info areas left & one card right with image and waves -->
  <!-- -------- START Features w/ pattern background & stats & rocket -------- -->


  {% endblock content %}
  
  
  {% block javascrips %}
  
    <script>
      // get the element to animate
      var element = document.getElementById('count-stats');
      var elementHeight = element.clientHeight;
  
      // listen for scroll event and call animate function
  
      document.addEventListener('scroll', animate);
  
      // check if element is in view
      function inView() {
        // get window height
        var windowHeight = window.innerHeight;
        // get number of pixels that the document is scrolled
        var scrollY = window.scrollY || window.pageYOffset;
        // get current scroll position (distance from the top of the page to the bottom of the current viewport)
        var scrollPosition = scrollY + windowHeight;
        // get element position (distance from the top of the page to the bottom of the element)
        var elementPosition = element.getBoundingClientRect().top + scrollY + elementHeight;
  
        // is scroll position greater than element position? (is element in view?)
        if (scrollPosition > elementPosition) {
          return true;
        }
  
        return false;
      }
  
      var animateComplete = true;
      // animate element when it is in view
      function animate() {
  
        // is element in view?
        if (inView()) {
          if (animateComplete) {
            if (document.getElementById('state1')) {
              const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
              if (!countUp.error) {
                countUp.start();
              } else {
                console.error(countUp.error);
              }
            }
            if (document.getElementById('state2')) {
              const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
              if (!countUp1.error) {
                countUp1.start();
              } else {
                console.error(countUp1.error);
              }
            }
            if (document.getElementById('state3')) {
              const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
              if (!countUp2.error) {
                countUp2.start();
              } else {
                console.error(countUp2.error);
              };
            }
            animateComplete = false;
          }
        }
      }
  
      if (document.getElementById('typed')) {
        var typed = new Typed("#typed", {
          stringsElement: '#typed-strings',
          typeSpeed: 90,
          backSpeed: 90,
          backDelay: 200,
          startDelay: 500,
          loop: true
        });
      }
    </script>
    <script>
      if (document.getElementsByClassName('page-header')) {
        window.onscroll = debounce(function() {
          var scrollPosition = window.pageYOffset;
          var bgParallax = document.querySelector('.page-header');
          var oVal = (window.scrollY / 3);
          bgParallax.style.transform = 'translate3d(0,' + oVal + 'px,0)';
        }, 6);
      }
    </script>
  
  
  {% endblock javascrips %}
